h1 {
    text-align: center;
}

.name {
    margin: 10px;
    font-size: x-large;

}

.btn {
    padding: 5px;
    margin: 5px;
    border: 2px solid #AAC8A7;
    border-radius: 10px;
    background-color: #C9DBB2;
}

.list {
    text-align: center;
}

li {
    list-style: none;
}