html {
    max-width: 100%;
    height: auto;
}

.image {
    max-width: 50%;
    margin: 10px;
}

.details {
    text-align: center;
}

.description {
    text-align: justify;
}

.button {
    text-decoration: none;
    border: 2px solid #AAC8A7;
    border-radius: 10px;
    background-color: #C9DBB2;
}